<div class="cards-container">
<mat-card
  cdkDropList
  #listPrompts="cdkDropList"
  [cdkDropListData]="prompts"
  [cdkDropListConnectedTo]="[codePrompts]"
  (cdkDropListDropped)="dropEdit($event)"
  >
  <mat-card-title style="margin: 20px"> <mat-icon style="margin-bottom: -5px"> list_alt</mat-icon> List of Prompts </mat-card-title>
  <div class="tabs-container">
    <mat-tab-group mat-stretch-tabs dynamicHeight="" animationDuration="0ms" class="vertical-tabs">
      <mat-tab label="Prompts">
        <!-- Your list of prompts here -->
        <div cdkDrag *ngFor="let prompt of prompts;" (cdkDragDropped)="editPrompt($event, prompt)">
          <app-draggable-prompts class="prompt" [prompt]="prompt" (stepsChange)="handleStepsChange(prompt, $event)"></app-draggable-prompts>
        </div>
      </mat-tab>
      <mat-tab label="Shapes">
        <!-- Your shape buttons here -->
        <button mat-raised-button (click)="drawSquare()">Square</button>
        <button mat-raised-button>Circle</button>
      </mat-tab>
    </mat-tab-group>

    <mat-card class="content">
      <!-- Your content here -->
    </mat-card>
  </div>
</mat-card>


<mat-card>
  <div style="; margin: 20px">
    <div>
    <mat-card-title>
      <mat-icon style="margin-bottom: -5px">code</mat-icon>
      Code Editor
    </mat-card-title>
    </div>

    <div style="width: 400px!important; padding-top: 10px;display: flex; justify-content: space-around">
    <button (click)="reset()" style="background-color: red; color: white" mat-button>
      <mat-icon>delete</mat-icon> Reset
    </button>

      <div matTooltip="Please login to execute the robot" [matTooltipDisabled]="authenticated">
    <button class="but" [disabled]="!authenticated" (click)="executeRobot()" style="background-color: blue; color: white" mat-button>
      <mat-icon>directions_run</mat-icon> Execute Robot
    </button>
      </div>

    <button (click)="generateImage()" style="background-color: green; color: white" mat-button>
      <mat-icon>play_arrow</mat-icon> Run Code
    </button>
    </div>

  </div>

  <mat-card style="border: groove 5px"
            cdkDropList
            #codePrompts="cdkDropList"
            [cdkDropListData]="codes"
            [cdkDropListConnectedTo]="[listPrompts]"
            (cdkDropListDropped)="dropList($event)"
            class="example-list">
  <div cdkDrag class="example-box" *ngFor="let code of codes" (cdkDragDropped)="editPrompt($event, code)">
    <app-draggable-prompts class="prompt" [prompt]="code"></app-draggable-prompts>
  </div>
  </mat-card>
</mat-card>


  <mat-card [ngStyle]="{'width': cardWidth, 'height': cardHeight}">
  <mat-card-title style="margin: 20px">
    <mat-icon style="margin-bottom: -5px">visibility</mat-icon> Preview </mat-card-title>
  <div class="preview-container">
<!--    <div class="ball" [@moveBall]="getBallPosition()" [ngStyle]="getBallStyle()"></div>-->
    <img [src]="generatedImage" alt="Generated Image">
  </div>
</mat-card>
</div>
