
mat-card {
  flex: 1;
  margin: 5px; /* Adjust as needed */
}

.prompt {
  padding: 10px;
  margin: 30px;
  cursor: grab;
}

.mat-tab-label {
  color: inherit;
}

.mat-tab-label.mat-tab-label-active {
  color: inherit;
}

.mat-tab-label:hover {
  color: inherit;
}

.black-label {
  color: black;
}

.red-label {
  color: red;
}

.blue-label {
  color: blue;
}

/*.example-list {*/
/*  width: 500px;*/
/*  max-width: 100%;*/
/*  border: solid 1px #ccc;*/
/*  min-height: 60px;*/
/*  display: block;*/
/*  background: white;*/
/*  border-radius: 4px;*/
/*  overflow: hidden;*/
/*}*/

/*.example-box {*/
/*  color: lightblue;*/
/*  font-size: 14px;*/
/*}*/

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto the next line on small screens */
  justify-content: space-around; /* Spreads out the cards evenly */
  gap: 30px; /* Adds some space between the cards */
}

mat-card {
  flex: 1 1 auto; /* Each card will grow to fill the space */
  min-width: 300px; /* Sets a minimum width for each card to prevent them from getting too small */
  min-height: 300px;
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for size changes */
  overflow: hidden; /* Prevent content from overflowing */
}

.but:disabled{
  color: dimgray!important;
  cursor:help
}

.preview-container {
  border: 1px solid black;
  margin: 5px;
  cursor: grab;
}

.run-btn{
  background-color: blue;
}

.run-btn:disabled{
  background-color: grey !important;
  border: 5px groove grey;
}



/* .b-pen> .mat-mdc-tab-group, .mat-mdc-tab-nav-bar:focus {
  --mdc-tab-indicator-active-indicator-color: red;
  --mat-tab-header-active-label-text-color:red;
  --mat-tab-header-active-focus-label-text-color: red;
  --mat-tab-header-active-hover-label-text-color: red;
  --mat-tab-header-active-focus-indicator-color: red;
  --mat-tab-header-active-hover-indicator-color: red;
  --mat-tab-header-active-ripple-color: red;
  --mat-tab-header-inactive-ripple-color: red;

} */