/* blockcode.component.css */
:host {
  display: flex;
}

mat-card {
  flex: 1;
  margin: 10px; /* Adjust as needed */
}

.prompt {
  padding: 10px;
  margin: 5px;
  cursor: grab;
  user-select: none;
}

.preview-container {
  position: relative;
  height: 100px; /* Set the height of the container */
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translateX(800%);
  bottom: 0;
}
