body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.profile{
  margin-top: -50px;
}

.blur-background {
  filter: blur(5px);
}

.tab{
  display: flex !important;
  flex-wrap: nowrap !important;
}


.profile-btn{
  color: #0066cc;
  background-color: #b3d9ff;
  margin: 5px;
}


.profile-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 30px;
  object-fit: cover;
}

.card-avatar{
  background-image: url('https://preview.redd.it/can-someone-change-the-color-of-the-avatar-to-the-gradient-v0-fwns4sow957d1.jpg?width=720&format=pjpg&auto=webp&s=0bfbace94665ca8fd64179d5c4bd84905cc80bb1');
  background-size: cover;

}

.Profile-Bio {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-bottom: -10px !important;
}

/*tabs*/
.mat-mdc-tab-group, .mat-mdc-tab-nav-bar:focus {
  --mdc-tab-indicator-active-indicator-color: #0066cc;
  --mat-tab-header-active-label-text-color:#0066cc;
  --mat-tab-header-active-focus-label-text-color: #0066cc;
  --mat-tab-header-active-hover-label-text-color: #0066cc;
  --mat-tab-header-active-focus-indicator-color: #0066cc;
  --mat-tab-header-active-hover-indicator-color: #0066cc;
  --mat-tab-header-active-ripple-color: #0066cc;
  --mat-tab-header-inactive-ripple-color: #0066cc;

}

.my-classes-box, .my-projects-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b3d9ff;
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  height: 250px;
  width: 300px;
}

.example-spacer{
  flex: 1 1 auto;
}

.profile-card{margin:10px;}