<div id="pf" class="profile">
  <mat-toolbar class="mat-elevation-z6">
  <button mat-icon-button>
  </button>
  <span style="margin-left:20px; color: #0066cc;">Welcome, {{currentUser?.userName}}!</span>
  <span class="example-spacer"></span>
  <button class="profile-btn" align="right" mat-button>Messages</button>
  <button class="profile-btn" align="right" mat-button>Help</button>
  <button class="profile-btn" align="right" mat-button>Settings</button>

</mat-toolbar>

<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="card-avatar profile-image">
      <!-- Use user.avatar if available -->
      <img *ngIf="currentUser?.avatar" [src]="currentUser?.avatar">
    </div>
    <mat-card-title>{{currentUser?.userName}}</mat-card-title>
    <mat-card-subtitle>{{currentUser?.email}}</mat-card-subtitle>
  </mat-card-header>
  <!-- <mat-card-content>
    <mat-form-field class="Profile-Bio">
      <mat-label>Bio</mat-label>
      <textarea matInput placeholder="Tell me about yourself!" [(ngModel)]="bio"></textarea>
    </mat-form-field>
  </mat-card-content> -->

</mat-card>

<mat-tab-group>
  <mat-tab label="My Classes">
    <div class="tab">
      <div class="my-classes-box mat-elevation-z4">
        You don't have any current classes!
      </div>
      <div class="my-classes-box mat-elevation-z4" style="font-size: 200px; color:white; cursor:pointer">
        +
      </div>
    </div>
  </mat-tab>
  <mat-tab class="tab" label="My Projects">
    <button mat-button routerLink="/project/codeblock/1" class="my-projects-box mat-elevation-z4">
      Project A
    </button>
  </mat-tab>
</mat-tab-group>
</div>
