

    <div class="home-container">
        <div class="hero">
          <h1>Welcome to our platform, where creativity meets coding!</h1>
          <p>Ready to get started?</p>
          <a *ngIf="!authenticated" href="/user/login" class="btn">Sign Up Now</a>
          <a *ngIf="authenticated" href="/user/login" class="btn">Log out</a>
        </div>

        <div class="features">
          <div class="feature">
            <img src="../../assets/img/catgraph.jpg" alt="Feature 1">
            <div class="content">
              <h2>Unleash Creativity with Code</h2>
              <div class="expandable-text">
                <p>Are you ready to embark on an exciting journey into the world of robotics and programming? With our intuitive block coding interface, kids can unleash their imagination and bring their ideas to life with just a few clicks.</p>
              </div>
            </div>
          </div>

          <div class="feature">
            <img src="../../assets/img/gui.png" alt="Feature 2">
            <div class="content">
              <h2>Explore the Possibilities</h2>
              <div class="expandable-text">
                <p>Imagine a world where you can design and program your very own robot to create amazing artwork. With our innovative platform, that dream becomes a reality! Whether it's drawing colorful patterns, creating intricate designs, or even composing geometric masterpieces, the possibilities are endless.</p>
              </div>
            </div>
          </div>

          <div class="feature">
            <img src="../../assets/img/programming.jpg" alt="Feature 3">
            <div class="content">
              <h2>Empowering Young Minds</h2>
              <div class="expandable-text">
                <p>Our platform empowers young minds to learn essential coding concepts in a fun and engaging way. Through hands-on experimentation and problem-solving challenges, kids develop critical thinking skills while exploring the fascinating world of robotics.</p>
              </div>
            </div>
          </div>

          <div class="feature">
            <img src="../../assets/img/programming2.jpg" alt="Feature 4">
            <div class="content">
              <h2>Join Us on the Journey</h2>
              <div class="expandable-text">
                <p>Join us today and discover the thrill of block coding for kids. Let's unlock creativity, inspire innovation, and pave the way for the next generation of young inventors and programmers. Get ready to code, create, and watch your robot bring your imagination to life on canvas!</p>
              </div>
            </div>
          </div>
        </div>

    <footer class="footer">
        <div class="container">
          <p>&copy; KittyCoder</p>
          <select class="language-select">
            <option value="english">English</option>
            <option value="french">French</option>
          </select>
        </div>
      </footer>
    </div>
